.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.sideBarItems > img {
  margin-top: 15px;
  width: 100%;
  border-radius: 15px;
}
.sideBarItems > p {
  padding: 10px;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  color: #444;
  line-height: 28px;
  text-align: justify;
}
.sideBarList {
  list-style: none;
  margin-bottom: 30px;
}
.sideBArListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sideBarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBarIcon {
  font-style: 16px;
  margin-left: 10px;
  cursor: pointer;
}
